__pycache__/
/.venv/
.env

# Logs (root)
/logs/**
!/logs/.gitkeep
*.log

# Data & artifacts (root)
/data/**
!/data/.gitkeep
/models/**
!/models/.gitkeep
/artifacts/**
!/artifacts/.gitkeep

.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

.ipynb_checkpoints/

.DS_Store